version: '3.8'

services:
  postgres:
    image: postgres
    container_name: vacancy
    environment:
      POSTGRES_DB: vacancy
      POSTGRES_USER: aboba
      POSTGRES_PASSWORD: aboba
    ports:
      - "5432:5432"
    restart: no

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.3
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    restart: no
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536